node_modules/
.next/
.env
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
*.local
.vscode/
.idea/
.DS_Store
.git
logs/
.nyc_output/
tmp/
npm/
out/
public/next.svg
public/vercel.svg